[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
autopep8 = "*"
werkzeug = "*"
peewee = "*"
pylint = "*"
pymysql = "*"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-extensions = "*"
mysqlclient = "*"
openpyxl = "*"
django-auth-ldap = "*"
reportlab = "*"
peewee = "*"

[requires]
python_version = "3.8"
