environ=devel
URL_SITE=http://localhost:8080
URL_API_PREFIX=api/v1/
SECRET_KEY="+4jcr_e*#w(0@rp1iyf2h^s2-f4dv%@77e4%#lcyl$ukik))gd"
DEBUG=ON
JWT_SECRET=2L3KJlKDFJ.
VISAGO_LOGIN_ENDPOINT=http://localhost:8080/login
VISAGO_TOKEN_VALIDATION_ENDPOINT=http://localhost:8080/auth/ping_with_token
VISAGO_TOKEN_REFRESH_ENDPOINT=http://localhost:8080/auth/refresh_token
TESTING_VALID_AD_USERNAME=valid.ad.username
TESTING_VALID_AD_PASSWORD=valid.ad.password
DATABASE_ENGINE=django.db.backends.mysql
DATABASE_USER=root
DATABASE_PASSWORD=rage
DATABASE_HOST=mysql-server
DATABASE_PORT=3306
DATABASE_NAME=contactosapi2
DATABASE_CHARSET=utf8
DATABASE_COLLATION=utf8_general_ci